<h1><center> <%= @spicysauces.name %></h1>
<p><b><center>Spice Level:</b> <%= @spicysauces.spice_level %></center</p>
<p><b><center>Calories:</b> <%= @spicysauces.calories %></center></p>
<p><b><center>Made Fresh:</b> <%= @spicysauces.made_today %></center></p> 


