<h1> <%= @spicysauces.name %></h1>
<p><b>Spice Level:</b> <%= @spicysauces.spice_level %></p>
<p><b>Calories:</b> <%= @spicysauces.calories %></p>
<p><b>Made Fresh:</b> <%= @spicysauces.made_today %></p> 


