<h1>Illegal Petes</h1>
<% @spicysauces.each do |spicysauce| %>
  <h3>Name: <%= spicysauce.name %></h3>
  <h5>Spice Level: <%= spicysauce.spice_level %></h5>
  <h5>Calories: <%= spicysauce.calories %></h5>
  <h5>Made Fresh: <%= spicysauce.made_today %><h5>
<% end %>
